body{
    width: 90%;
    font-family: 'Roboto', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
.thumbnail{
    width: 370px;
    height: 210px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.main1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 85px;
    padding-left: 80px;
    cursor: pointer;
}
.main2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 80px;
    cursor: pointer;
}
.thumb{
    position: relative;
}
.expand{
    position: absolute;
    width: 16px;
    margin-top: 180px;
    margin-left: -33px;
    background-color:rgba(133, 133, 133, 0.881);
    color: white;
    border-radius: 2px;
    padding: 5px;
}
.topic_content{
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin-top: 10px;
}
.topic{
    font-weight: 500;
    margin-left: 8px;
    width: 80%;
}
.three_dot{
    width: 0px;
    padding-right: 10px;
}
.text{
    font-size: 14px;
    padding-top: 8px;
    padding-left: 10px;
    color: rgb(92, 92, 92);
}
.ad_text{
    display: flex;
    align-items: center;
}
.ad{
    padding-top: 8px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}
.text1{
    font-size: 14px;
    padding-top: 8px;
    padding-left: 5px;
    color: rgb(92, 92, 92);
}
.thumbnail1{
    width: 370px;
    height: 210px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
.thumbnail1:hover{
    border-radius: 0px;
}
.three_dot1{
    width: 0px;
    padding-right: 10px;
}
.three_dot1:hover{
    width: 4px;
}
.text_content{
    display: flex;
}
.channelpro{
    width: 35px;
    margin-top: 10px;
    border-radius: 35px;
}
.video{
    margin-left: 10px;
    margin-top: 40px;
}
.text2{
    font-size: 14px;
    padding-top: 3px;
    padding-left: 10px;
    color: rgb(82, 82, 82);
}
.time{
    position: absolute;
    margin-top: -32px;
    margin-left: 323px;
    background-color:rgba(14, 13, 13, 0.881);
    color: white;
    border-radius: 2px;
    padding: 5px;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 500;
}
.heading1{
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
    width: 97%;
    align-items: center;
    margin-top: 20px;
}
.head{
    font-size: 20px;
}
.subhead{
    color: rgb(113, 113, 113);
    font-size: 14px;
    margin-top: 5px;
}
.rightside{
    font-size: 25px;
    font-weight: 200;
}
.hr{
    width: 100%;
    padding-left: 80px;
    padding-top: 35px;
}
hr{
    color: rgb(166, 166, 166);
    position: relative;
}
.show{
    position: absolute;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    margin-left: 38%;
    margin-top: -30px;
    padding: 10px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: white;
    border: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 30px;
    cursor: pointer;
}
.show:hover{
    background-color: rgb(187, 187, 187);
}
a{
    margin-left: 0px;
    text-decoration: none;
    color: black;
}